<app-header></app-header>
<div class="background">
    <mat-card class="global">
        <mat-card-header class="header">
            <div>
                <mat-card-title>{{detail.name}}</mat-card-title>
                <p>{{detail.symbol}}</p>
            </div>
            <img class="img" mat-card-sm-image src={{detail.image.large}} >
        </mat-card-header>
        <mat-card-content class="info">
            <div class="row">
                <h1>Price</h1>
                <p>${{detail.market_data.current_price.usd}}</p>
            </div>
            <div class="values">
                <div class="row">
                    <h3>Coin Rank</h3>
                    <p>{{detail.coingecko_rank}}</p>
                </div>
              
                <div class="row">
                    <h3>Coin Score</h3>
                    <p>{{detail.coingecko_score}}</p>
                </div>
            </div>
            <div>
                <h3>Description</h3>
                <div [innerHTML]="detail.description.en"></div>
            </div>
            <div>
                <h5>More Info</h5>
                <h5>{{detail.links.homepage}}</h5>
            </div>
        </mat-card-content>
    </mat-card>
</div>